@model gerenciador_de_escolas.ViewModels.AlunoViewModel
@{
    ViewData["Title"] = "Aluno";
}
<div class="row">
    <div class="container center-align">
        <span class="title-view blue-text text-darken-2">Cadastro de Aluno</span>
    </div>  
</div>
<div class="row">
        <form id="form" asp-action="Form" asp-controller="Aluno"
            data-ajax="true" data-ajax-method="POST" data-ajax-failure="formOnFail" 
            data-ajax-success="window.location = '/Aluno'"              
            asp-anti-forgery>
            <div class="container">
                <div class="row">
                    <input type="hidden" asp-for="id">
                    <div class="input-field col s12 m6">
                        <input asp-for="nome" class="validate">
                        <label for="nome">Nome</label>
                        <span asp-validation-for="nome" class="red-text"></span>
                    </div>
                    <div class="input-field col s12 m3">
                        <input asp-for="matricula" class="validate">
                        <label for="matricula">Matricula</label>
                        <span asp-validation-for="matricula" class="red-text"></span>
                    </div>
                    <div class="input-field col s12 m3">
                        <input asp-for="telefone" class="validate telefone">
                        <label for="telefone">Telefone</label>
                        <span asp-validation-for="telefone" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <input asp-for="endereco" class="validate">
                        <label for="endereco">Endereço Completo</label>
                        <span asp-validation-for="endereco" class="red-text"></span>
                    </div>
                    <div class="input-field col s12">
                        <select asp-for="turmaId" 
                        asp-items='@(new SelectList(@Model.turmas,"id","nome"))'>
                        </select>
                        <label>Turmas</label>
                        <span asp-validation-for="turmaId" class="red-text"></span>
                    </div>
                </div>
                <div class="row right-align">
                    <button type="reset" class="waves-effect waves-light btn red">Limpar</button>
                    <button type="submit" class="waves-effect waves-light btn green">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    @section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.mask.js"></script>
    <script src="/js/telefone.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
}