@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="container center-align">
        <div class="row">
            <strong>Recursos BackEnd Utilizados: </strong>ASP.NET CORE 2.1, EntityFrameworkCore 2.1
        </div>
        <div class="row">
            <strong>Recursos FrontEnd Utilizados: </strong>JQuery, JQuery.Mask e MaterializeCSS
        </div>
    </div>
</div>